# Dependencias
node_modules/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Variables de entorno
.env*
!.env.example  # permite versionar un archivo de ejemplo

# IDEs y editores
.vscode/
.idea/
*.swp
*.swo
*~

# Archivos temporales y del sistema
.DS_Store
Thumbs.db

# Build y cobertura
build/
coverage/

# Archivos específicos del proyecto
.eas/
.App/
Users.txt  # si no quieres versionarlo

# Ignorar por extensión si es necesario
*.bak
*.tmp